      - name: Baixar SDK do Google Drive (Metodo Forcado)
        run: |
          mkdir -p $GITHUB_WORKSPACE/SDK
          # O link abaixo inclui o comando de confirmacao para arquivos grandes
          gdown "https://drive.google.com" -O sdk.tar.gz
          
          # Extrai o arquivo (o -xf detecta o formato automaticamente)
          tar -xf sdk.tar.gz -C $GITHUB_WORKSPACE/SDK --strip-components=1
          
          # Configura as variaveis conforme sua imagem
          echo "OO_PS4_TOOLCHAIN=$GITHUB_WORKSPACE/SDK" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/SDK/bin" >> $GITHUB_PATH
