name: Build RDR2 PS4 Mod (CUSA03140 1.32)
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Codigo
        uses: actions/checkout@v4

      - name: Instalar Dependencias e Gdown
        run: |
          sudo apt update
          sudo apt install clang lld python3-pip -y
          pip3 install gdown

      - name: Baixar SDK do Google Drive (Arquivo Grande)
        run: |
          mkdir -p $GITHUB_WORKSPACE/SDK
          # Usa o gdown para baixar o arquivo pulando o aviso de virus do Google
          gdown --id 1O1h45BYFL6iI7yyUqVvab53IAVhZqFiT -O sdk.tar.gz
          
          # Extrai o arquivo (o comando -xf detecta o formato automaticamente)
          tar -xf sdk.tar.gz -C $GITHUB_WORKSPACE/SDK --strip-components=1
          
          # Configura as variaveis conforme a sua imagem anterior
          echo "OO_PS4_TOOLCHAIN=$GITHUB_WORKSPACE/SDK" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/SDK/bin" >> $GITHUB_PATH

      - name: Compilar Mod (RDR2 v1.32)
        run: |
          # Adiciona o compilador ao PATH e executa o Makefile
          export PATH=$GITHUB_WORKSPACE/SDK/bin:$PATH
          make

      - name: Download do Mod (.prx)
        uses: actions/upload-artifact@v4
        with:
          name: RDR2_Assalto_Final
          path: "*.prx"
