name: Build RDR2 PS4 Mod GoldHEN
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Codigo
        uses: actions/checkout@v4

      - name: Setup GoldHEN SDK
        # Esta é a Action correta para 2026
        uses: GoldHEN/goldhen-sdk-action@v1

      - name: Compilar Mod (Make)
        run: |
          # O SDK já define o OO_PS4_TOOLCHAIN automaticamente
          make

      - name: Download do Mod .prx
        uses: actions/upload-artifact@v4
        with:
          name: RDR2_Assalto_GoldHEN
          path: "*.prx"
