name: Build RDR2 PS4 Mod (MEGA SDK)
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Codigo
        uses: actions/checkout@v4

      - name: Instalar Compilador e Megatools
        run: |
          sudo apt update
          sudo apt install clang lld make megatools -y

      - name: Baixar SDK do MEGA
        run: |
          mkdir -p $GITHUB_WORKSPACE/SDK
          # Download usando o seu link do MEGA
          # O megadl garante que o arquivo baixe por completo sem erros de HTML
          megadl --path toolchain-llvm-18.tar.gz 'https://mega.nz'
          
          # Extrai o arquivo (o -xf detecta o formato automaticamente e resolve o erro da imagem)
          tar -xf toolchain-llvm-18.tar.gz -C $GITHUB_WORKSPACE/SDK --strip-components=1
          
          # Configura as variaveis conforme a sua imagem de configuracao
          echo "OO_PS4_TOOLCHAIN=$GITHUB_WORKSPACE/SDK" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/SDK/bin" >> $GITHUB_PATH

      - name: Compilar Mod (Make)
        run: |
          # Adiciona o compilador ao PATH e executa o Makefile
          export PATH=$GITHUB_WORKSPACE/SDK/bin:$PATH
          make

      - name: Download do Mod .prx pronto
        uses: actions/upload-artifact@v4
        with:
          name: RDR2_Assalto_Final
          path: "*.prx"
