name: Build RDR2 PS4 Mod 2026
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup GoldHEN SDK
        # Usa a Action oficial que j치 tem o OpenOrbis configurado
        uses: GoldHEN/goldhen-sdk-action@v1
        
      - name: Build Mod
        run: |
          # O SDK j치 est치 no PATH, s칩 precisamos rodar o make
          make

      - name: Download .prx
        uses: actions/upload-artifact@v4
        with:
          name: RDR2_Assalto_2026
          path: "*.prx"
