name: Build RDR2 PS4 Mod (Google Drive SDK)
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Codigo
        uses: actions/checkout@v4

      - name: Instalar Clang e LLD
        run: |
          sudo apt update
          sudo apt install clang lld -y

      - name: Baixar SDK do Google Drive
        run: |
          mkdir -p $GITHUB_WORKSPACE/SDK
          # Download do link que voce enviou usando curl -L
          curl -L "https://drive.usercontent.google.com" -o sdk.tar.gz
          
          # Extrai o arquivo (o comando -xf detecta o formato automaticamente)
          tar -xf sdk.tar.gz -C $GITHUB_WORKSPACE/SDK --strip-components=1
          
          # Configura as variaveis conforme a sua imagem anterior
          echo "OO_PS4_TOOLCHAIN=$GITHUB_WORKSPACE/SDK" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/SDK/bin" >> $GITHUB_PATH

      - name: Compilar Mod (RDR2 v1.32)
        run: |
          # Adiciona o compilador ao PATH e executa o Makefile
          export PATH=$GITHUB_WORKSPACE/SDK/bin:$PATH
          make

      - name: Download do Mod Pronto (.prx)
        uses: actions/upload-artifact@v4
        with:
          name: RDR2_Assalto_Final_CUSA03140
          path: "*.prx"
