name: Build PS4 Mod
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup OpenOrbis
        run: |
          sudo apt update && sudo apt install clang lld -y
          curl -L https://github.com -o sdk.tar.gz
          mkdir -p $GITHUB_WORKSPACE/SDK
          tar -xzf sdk.tar.gz -C $GITHUB_WORKSPACE/SDK --strip-components=1
          echo "OO_PS4_TOOLCHAIN=$GITHUB_WORKSPACE/SDK" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/SDK/bin" >> $GITHUB_PATH
      - name: Build
        run: make
      - name: Download Mod
        uses: actions/upload-artifact@v4
        with:
          name: RDR2_Mod_PRX
          path: "*.prx"
