name: Build RDR2 PS4 Mod
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Codigo
        uses: actions/checkout@v4

      - name: Instalar Compiladores (Clang e LLD)
        run: |
          sudo apt update
          sudo apt install clang lld make -y

      - name: Baixar SDK OpenOrbis v0.5.4
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mkdir -p $GITHUB_WORKSPACE/SDK
          gh release download v0.5.4 --repo OpenOrbis/OpenOrbis-PS4-Toolchain --pattern 'toolchain-llvm-18.tar.gz' --output sdk.tar.gz
          tar -xf sdk.tar.gz -C $GITHUB_WORKSPACE/SDK --strip-components=1
          
          # LOCALIZA O COMPILADOR E CONFIGURA O PATH (Resolve o Erro 127)
          BIN_PATH=$(find $GITHUB_WORKSPACE/SDK -name "orbis-clang++" -exec dirname {} \;)
          echo "OO_PS4_TOOLCHAIN=$GITHUB_WORKSPACE/SDK" >> $GITHUB_ENV
          echo "$BIN_PATH" >> $GITHUB_PATH

      - name: Compilar Mod (RDR2 1.32)
        run: |
          # Força a atualização do PATH no shell atual
          export PATH=$GITHUB_PATH:$PATH
          make
