name: Build RDR2 PS4 Mod
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Instalar Compilador
        run: sudo apt update && sudo apt install clang lld -y

      - name: Baixar SDK (Link Direto)
        run: |
          mkdir -p SDK
          # Link direto e estavel para evitar erro de GZIP
          curl -L "https://huggingface.co" -o sdk.tar.gz
          tar -xf sdk.tar.gz -C SDK --strip-components=1
          echo "OO_PS4_TOOLCHAIN=$GITHUB_WORKSPACE/SDK" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/SDK/bin" >> $GITHUB_PATH

      - name: Compilar
        run: make

      - name: Download do Mod (.prx)
        uses: actions/upload-artifact@v4
        with:
          name: RDR2_Assalto_Final
          path: "*.prx"
