name: Build RDR2 PS4 Mod
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Codigo
        uses: actions/checkout@v4

      - name: Instalar Clang e LLD (Instrucoes da Imagem)
        run: |
          sudo apt update
          sudo apt install clang lld -y

      - name: Baixar SDK OpenOrbis Oficial
        run: |
          # Download usando curl -L para evitar erro de formato GZIP
          curl -L "https://github.com" -o sdk.tar.gz
          mkdir -p $GITHUB_WORKSPACE/SDK
          tar -xzf sdk.tar.gz -C $GITHUB_WORKSPACE/SDK --strip-components=1
          
          # Configura as variaveis conforme a sua imagem
          echo "OO_PS4_TOOLCHAIN=$GITHUB_WORKSPACE/SDK" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/SDK/bin" >> $GITHUB_PATH

      - name: Compilar Mod (Make)
        run: |
          # Adiciona o compilador ao PATH e roda o make
          export PATH=$GITHUB_WORKSPACE/SDK/bin:$PATH
          make

      - name: Disponibilizar Mod .prx
        uses: actions/upload-artifact@v4
        with:
          name: RDR2_Assalto_CUSA03140
          path: "*.prx"
