name: Build RDR2 Mod via Docker
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    # Usa um "container" que já tem o OpenOrbis instalado e pronto
    container: ghcr.io/openorbis/toolchain:latest

    steps:
      - name: Checkout do Codigo
        uses: actions/checkout@v4

      - name: Compilar Mod (RDR2 1.32)
        run: |
          # No Docker, o comando 'make' já reconhece o OpenOrbis automaticamente
          make

      - name: Download do Mod (.prx)
        uses: actions/upload-artifact@v4
        with:
          name: RDR2_Assalto_Docker
          path: "*.prx"
