name: construir
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Confira o Código
        uses: actions/checkout@v4

      - name: Instalar Ferramentas
        run: sudo apt update && sudo apt install clang lld make megatools -y

      - name: Baixar e Extrair SDK
        run: |
          # Baixa do MEGA
          megadl "https://mega.nz" --path sdk.tar.gz
          
          # Extrai tudo na pasta atual (sem criar subpastas complicadas)
          tar -xf sdk.tar.gz
          
          # Dá permissão de execução para o compilador em qualquer lugar que ele esteja
          chmod -R +x .

      - name: Modificação do compilador (RDR2 1.32)
        run: |
          # Procura o orbis-clang++ e roda o make usando ele
          COMPILADOR=$(find . -name "orbis-clang++" | head -n 1)
          export OO_PS4_TOOLCHAIN=$(dirname $(dirname $COMPILADOR))
          make CC=$COMPILADOR CXX=$COMPILADOR

      - name: Trabalho concluido
        uses: actions/upload-artifact@v4
        with:
          name: RDR2_Mod_PS4
          path: "*.prx"
